/* Color-scheme for prototype */
:root {
    --myndighet-dark: #002F5F;
    --myndighet-accent: #FFD100;
    --bg-light: #F2F2F2;
}

/* Grundinställningar för hela sidan */
body {
    background-color: #C9C9C9;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Roboto, sans-serif;
}

.app-header {
    background-color: #002F5F; /* Myndighetsblå */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}

.mobile-container {
    width: 390px; /* Standardbredd för iPhone 13/14/15 */
    height: 844px; /* Standardhöjd */
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 40px rgba(0,0,0,0.8);
    border-radius: 30px;
    border: 12px solid #222; /* Mobilens fysiska ram */
    position: relative;
    overflow: hidden;
}

.status-dot {
    height: 8px;
    width: 8px;
    background-color: #28a745;
    border-radius: 50%;
}

/* Justera Main-ytan */
main {
    flex: 1;
    overflow-y: auto;
    padding-bottom: 70px;
}

/* Se till att kartan fyller sin container i mobilen */
.map-container {
    flex: 1;
    width: 100%;
    height: 100%;
}

/* Botten-navigering */
.bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    background-color: #f8f9fa;
    border-top: 1px solid #dee2e6;
    display: flex;
}

/* Menyn i botten*/
.nav-wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: #666;
    font-size: 0.75rem;
}

.nav-item.active {
    color: #002F5F;
}

.nav-item .oi {
    font-size: 1.2rem;
    margin-bottom: 4px;
}

/* Handles error-placement */
#blazor-error-ui {
    display: none; /* Dölj som standard */
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 320px;
    background: #fff3cd;
    color: #856404;
    padding: 1rem;
    border-radius: 15px;
    z-index: 2000;
    box-shadow: 0 10px 30px rgba(0,0,0,0.5);
    border: 1px solid #ffeeba;
}