<div class="nav-wrapper">
    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
        <span class="oi oi-map-marker" aria-hidden="true"></span>
        <span class="nav-label">Karta</span>
    </NavLink>
    <NavLink class="nav-link" href="education">
        <span class="oi oi-book" aria-hidden="true"></span>
        <span class="nav-label">Utbildning</span>
    </NavLink>
    <NavLink class="nav-link" href="checklist">
        <span class="oi oi-task" aria-hidden="true"></span>
        <span class="nav-label">Checklista</span>
    </NavLink>
</div>