@page "/"
@using OXAMI.Logic
@inject IJSRuntime JS
@inject MapService MapService

<div class="map-container">
    <div id="google-map" style="height: 100%; width: 100%;">
        <div class="p-4 text-center">Laddar lägesbild...</div>
    </div>
</div>

@code {
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            // Hämta zoner via logiklagret (som i sin tur hämtar från datalagret)
            var zones = await MapService.GetRiskZonesAsync();

            // Anropa JavaScript-funktionen i mapFunctions.js
            await JS.InvokeVoidAsync("initMap", zones);
        }
    }
}